Misc\
Misc/website.zip
Misc/remix-backup-at-5h42min-2022-11-10.zip
Misc/NFT/Metadata/2.json
Misc/NFT/Metadata/1.json
Misc/NFT/Jely2.gif
Misc/NFT/Jelly NFT.gif
Misc/NFT/.vscode/settings.json
Misc/NFT.zip
Misc/Javascript/Untitled-1.js
Misc/Javascript/index.js
Misc/Javascript/index.html
Misc/Javascript/.vscode/settings.json
Misc/brownie local test.zip
